@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-default bg-white;
}

.table {
  @apply min-w-full text-sm;
}
.table thead tr {
  @apply bg-white text-left border-b border-b-neutral-500;
}
.table thead tr th {
  @apply text-secondary font-normal px-4 pb-4 pt-3;
}
.table tbody tr {
  @apply bg-white text-left border-b border-b-neutral-500;
}
.table tbody tr td {
  @apply px-4 py-5 align-top;
}

.PhoneInputInput {
  @apply focus:border-primary-300 focus:outline-none focus:ring-0 active:outline-none active:ring-0;
}
.phone-input-custom .PhoneInputCountry {
  display: none !important;
}
/* Skeleton Loading Styles */
@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #F1F3F9;
}
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0));
  background-repeat: no-repeat;
  background-size: 200px 100%;
  animation: skeleton-loading 1.5s infinite;
}
